{% extends 'layout.twig' %}

{% block body %}

<h1>Teste de XSS</h1>

<form method="POST" action="/comments">
    <label>
        <span>Comentário</span>
        <br>
        <textarea name="comment" rows="4"></textarea>
        <br>
        <input type="submit" values="Enviar">
    </label>
    <div>
        {{comments}}
    </div>
</form>
{% endblock %}